* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
  }
  
  .in-view {
    cursor: pointer;
  }
  .in-view:hover {
    border-bottom: solid 2px gray;
  }

  .login-btn{
      position: absolute;
      right: 5%;
      cursor: pointer;
  }

  .pagesBar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem auto;
    width: 85%;
    max-width: 1200px;
    gap: 1rem;
  }
  
  .card img {
    width: 100%;
  }

  .errorMsg {
    color: red;
  }

  .rate-like-row{
    display: flex;
    justify-content: space-between;
  }

  .ion-heart {
    color: lightgray;
    cursor: pointer;
  }

  .liked {
    color: red;
  }

  .title {
    cursor: pointer;
  }

  .indivCard {
    display: flex;
    gap: 4rem;
    padding: 3rem;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
  }

  .indivCard h1 {
    margin-bottom: 1rem;
  }

  .indivCard h2 {
    margin-top: 2rem;
  }

  .indivCard select {
    padding: .5rem .7rem;
    margin: 1rem 1rem 1rem 0;
  }

  .indivCard button {
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }

  .logos-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .comp-logo img{
    width: 100%;
  }
  .comp-logo {
    margin-top: 2rem;
    padding: 1.4rem;
    width: 200px;
  }