* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
  }
  
  .nav {
    display: flex;
    gap: 2rem;
  }
  
  .in-view {
    cursor: pointer;
  }
  .in-view:hover {
    border-bottom: solid 2px gray;
  }

  .login-btn{
      position: absolute;
      right: 5%;
      cursor: pointer;
  }

  .pagesBar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.5rem auto;
    width: 85%;
    max-width: 1200px;
    gap: 1rem;
  }
  
  .card img {
    width: 100%;
  }

  .errorMsg {
    color: red;
  }

  .rate-like-row{
    display: flex;
    justify-content: space-between;
  }

  .ion-heart {
    color: lightgray;
    cursor: pointer;
  }

  .liked {
    color: red;
  }

  .title {
    cursor: pointer;
  }